/*!* TODO: Fix auto-scrolling *!*/
.text-region {
    -fx-border-color: gray;
    -fx-border-style: dotted;
    -fx-border-width: 2;

    -fx-background-color: transparent;
}

.text-area {
    -fx-background-color: transparent;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.text-area .scroll-bar:vertical {
    -fx-pref-width: 0;
    -fx-opacity: 0;
}