.text-region {
    -fx-background-color: transparent;
    -fx-border-color: gray;
    -fx-border-width: 2;
    -fx-border-style: dotted;
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused {
    -fx-highlight-fill: #7ecfff;
}

.text-area .content {
    -fx-padding: 1px;
    -fx-text-fill: gray;
    -fx-highlight-fill: #7ecfff;
}

.text-area .scroll-bar:vertical {
    -fx-pref-width: 0;
    -fx-opacity: 0;
}

/* TODO: Fix auto-scrolling */